# Set the default behavior, in case people don't have core.autocrlf set.
# Handle files without filetype in file name as binary.
* binary
# Identify type of files with filetype in file name automatically.
*.* text=auto

# Explicitly declare text files you want to always be normalized and converted
# to native line endings on checkout.
*.java text
*.js text
*.ts text

# Declare files that will always have CRLF line endings on checkout.
#*.sln text eol=crlf

# Denote all files that are truly binary and should not be modified.
*.png binary
*.jpg binary